<form >
  New Position:
  <input type="text" name="name" value="">
  <br>
  Date:
  <input type="datetime-local" name="url" value="">
  <br>
   Salary:
  <input type="number" name="dept" value="">

  <br><br>
  <input type="submit" value="Submit">
</form> 
